.app {
  width: 800px;
  margin: 0 auto;
}

.links {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.links a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.heading {
  text-align: center;
}